.list {
  box-shadow: $Box-Shadow;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $Grayish-Blue;
  }

  &__button-done,
  &__button-delete {
    cursor: pointer;
    margin: 1rem;
    color: $Grayish-Blue;
  }

  &__button-done {
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    outline: 2px solid $Dark-Grayish-Blue;
    color: $Very-Dark-Grayish-Blue;
    transition: .2s;

    &:hover {
      background-image: $Check-Background;
      outline: none;
      color: $Light-Grayish-Blue-hover;

    }

    &.complete {
      color: $Light-Grayish-Blue-hover;
      background-image: $Check-Background;
      outline: none;
    }
  }

  &__button-delete {
    transition: .2s;

    &:hover{
      color: $Light-Grayish-Blue-hover;
    }
  }

  &__copy {
    width: 80%;
    cursor: pointer;

    &.complete {
      text-decoration: line-through;
      color: $Grayish-Blue;
    }
  }

}