$breakpoint: (
  mobile: $Mobile,
  desktop: $Desktop,
);

@mixin breakpointMax($size) {
  $breakpoint-value: map-get($breakpoint, $size);

  @media screen and (max-width: $breakpoint-value) {
    @content
  }
};

@mixin breakpointMin($size) {
  $breakpoint-value: map-get($breakpoint, $size);

  @media screen and (min-width: $breakpoint-value) {
    @content
  }
};

// ====| BREAKPOINT |====

@include breakpointMax(mobile) {
  .search {

    & p,
    & button {
      color: $Grayish-Blue;
      font-size: .5rem;
    }

    &__leftTodos {
      flex-direction: column;
    }
  }
}

@include breakpointMin(desktop) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url($Bg-dark-desktop);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;

    &.light{
      background-image: url($Bg-light-desktop);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top;
      background-color: white;
      transition: .4s;
    }
  }

  #root {
    width: 40.5rem;
    // margin: auto;
  }
}