$breakpoint: (
  mobile: $Mobile,
  desktop: $Desktop,
);

@mixin breakpointMax($size) {
  $breakpoint-value: map-get($breakpoint, $size);

  @media screen and (max-width: $breakpoint-value) {
    @content
  }
};

@mixin breakpointMin($size) {
  $breakpoint-value: map-get($breakpoint, $size);

  @media screen and (min-width: $breakpoint-value) {
    @content
  }
};

// ====| BREAKPOINT |====

@include breakpointMax(mobile) {
  .search {
    border: .25rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 20px 50px;

    &__filter {
      width: 100%;
      height: 100%;
      border-radius: 0 0 .25rem .25rem;
      grid-column: 1/3;
      grid-row: 3/4;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: $Very-Dark-Grayish-Blue;

      &.light{
        background-color: $Light-Grayish-Blue-hover;
      }
    }

    &__cleaner{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .footer{
    position: relative;
    top: 4rem;
  }
}

@include breakpointMin(desktop) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url($Bg-dark-desktop);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;

    &.light{
      background-image: url($Bg-light-desktop);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top;
      background-color: white;
      transition: .4s;
    }
  }

  #root {
    width: 40.5rem;
  }
}