body.light {
  background-image: url($Bg-light-mobile);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  background-color: white;
  transition: .4s;
}

.section.light{
  background-color: $Light-Grayish-Blue-hover;
}

.add {
  &__input.light{
    color: $Dark-Grayish-Blue;
  }
}

.list{
  &__button-done.light,
  &__button-delete.light {
    transition: .2s;
    color: $Dark-Grayish-Blue;
  }

  &__button-done.light {
    color: $Light-Grayish-Blue-hover;

    &:hover{
      background-image: $Check-Background;
      outline: none;
    }
  }

  &__button-delete.light {
    color: $Grayish-Blue;

    &:hover {
      color: $Dark-Grayish-Blue;
    }
  }

  & p.light {
    transition: .4s;
    color: $Dark-Grayish-Blue;
  }

  &__copy{

    &.complete.light{
      color: $Light-Grayish-Blue;
    }
  }
}

.search{

  &__filter.light button,
  &__cleaner.light button{

    &:hover{
      color: $Dark-Grayish-Blue;
    }
  }
}

.footer__text.light,
.footer__text.light a{
  color: $Dark-Grayish-Blue;
}