@import '../index.scss';

//  Base
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

body {
  transition: .4s;
  font-family: $Font-Family;
  background-color: $Very-Dark-Desaturated-Blue;
  // background: $Very-Dark-Desaturated-Blue url('./../../public/images/bg-mobile-dark.jpg') no-repeat;
  // background-size: cover;
}

a {
  text-decoration: none;
  color: $Light-Grayish-Blue;

  &:visited,
  &:active {
    text-decoration: none;
  }
}

image {
  max-width: 100%;
  height: auto;
}

h1 {
  color: white;
  font-weight: $Weight-Bold;
  letter-spacing: .75rem;
}

p {
  color: $Light-Grayish-Blue;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

#root {
  height: auto;
  margin: 2rem 2rem;
}

.section {
  background-color: $Very-Dark-Grayish-Blue;
  border-radius: .25rem .25rem 0 0;
}

// =====|  MAIN  |=====
// =====|  Header  |=====
.header {
  padding: 1rem 0;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__button {
    height: 1.5rem;
    width: 1.5rem;
    color: $Light-Grayish-Blue-hover;
    cursor: pointer;

  }
}

// =====|  Add  |=====
.add {
  margin: 1rem 0;
  box-shadow: $Box-Shadow;

  &__form {
    display: flex;
    align-items: center;
  }

  &__button {
    border: 2px solid $Dark-Grayish-Blue;
    border-radius: 1rem;
    height: 1rem;
    width: 1rem;
    margin: 1rem 1rem;

    &:hover {
      background-image: $Check-Background;
      border: none;

      &::after {
        content: '';
        height: .8rem;
        width: .8rem;
        border-radius: 1rem;
        background-color: $Very-Dark-Grayish-Blue;
        display: block;
        position: relative;
        right: -1.5px;
        top: .5px;
      }
    }
  }

  &__input {
    width: 80%;
    background: none;
    outline: none;
    border: none;
    margin: 1rem .25rem 1rem .25rem;
    color: $Light-Grayish-Blue;
    font-family: $Font-Family;
    font-size: 18px;

    &::placeholder {
      color: $Grayish-Blue;
    }
  }
}

// =====|  List  |=====
.list {
  box-shadow: $Box-Shadow;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $Grayish-Blue;
  }

  &__button-done,
  &__button-delete {
    cursor: pointer;
    margin: 1rem;
    color: $Light-Grayish-Blue-hover;
  }

  &__button-done {
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    outline: 2px solid $Dark-Grayish-Blue;

    &:hover {
      background-image: $Check-Background;
      outline: none;

    }

    &.complete {
      color: $Light-Grayish-Blue-hover;
      background-image: $Check-Background;
      outline: none;
    }
  }

  &__copy {
    width: 80%;
    cursor: pointer;

    &.complete {
      text-decoration: line-through;
      color: $Grayish-Blue;
    }
  }

}

// =====|  Search  |=====
.search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3rem;
  border-radius: 0 0 .25rem .25rem;

  & p,
  & button {
    color: $Grayish-Blue;
    font-size: .75rem;
  }

  & button {
    font-family: $Font-Family;
  }

  &__leftTodos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25rem;
  }

  &__filter {
    width: 40%;
    display: flex;
    justify-content: space-around;
  }

  &__filter button,
  &__cleaner button {

    &:hover {
      transition: .3s;
      color: $Light-Grayish-Blue-hover;
      cursor: pointer;
    }
  }
}

// =====|  FOOTER  |=====
.footer {
  padding: .5rem;
  margin: .5rem 0;

  &__text {
    text-align: center;
  }
}

// =====|  Toggle Theme  |=====

body.light {
  transition: .4s;
  background-color: white;
}

.section.light{
  background-color: $Light-Grayish-Blue-hover;
}

.header {
  &__title.light,
  &__button.light {
    transition: .4s;
    color: $Dark-Grayish-Blue;
  }
}

.add {
  &__input.light{
    color: $Dark-Grayish-Blue;
  }
}

.list{
  &__button-done.light,
  &__button-delete.light {
    transition: .4s;
    color: $Dark-Grayish-Blue;
  }

  & p.light {
    transition: .4s;
    color: $Dark-Grayish-Blue;
  }

  &__copy{

    &.complete.light{
      color: $Light-Grayish-Blue;
    }
  }
}

.search{

  &__filter.light button,
  &__cleaner.light button{

    &:hover{
      color: $Dark-Grayish-Blue;
    }
  }
}

.footer__text.light,
.footer__text.light a{
  color: $Dark-Grayish-Blue;
}

// =====|  Breakpoint  |=====
$breakpoint: (
  mobile: $Mobile,
  desktop: $Desktop,
);

@mixin breakpointMax($size) {
  $breakpoint-value: map-get($breakpoint, $size);

  @media screen and (max-width: $breakpoint-value) {
    @content
  }
}

@mixin breakpointMin($size) {
  $breakpoint-value: map-get($breakpoint, $size);

  @media screen and (min-width: $breakpoint-value) {
    @content
  }
}

@include breakpointMax(mobile) {
  .search {

    & p,
    & button {
      color: $Grayish-Blue;
      font-size: .5rem;
    }

    &__leftTodos {
      flex-direction: column;
    }
  }
}

@include breakpointMin(desktop) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    // background: $Very-Dark-Desaturated-Blue url('./../../public/images/bg-desktop-dark.jpg') no-repeat;
    // background-size: cover;
  }

  #root {
    width: 40.5rem;
    // margin: auto;
  }
}